{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "oreo-sample",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "fmaj7/oreo-sample:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}